body {
  font-family: "Poppins";
  width: 100%;
  height: 100%;
}
button {
  background: #442eba;
  border: none;
  padding: 1.5rem 2rem;
  color: white;
}
.top {
  display: flex;

  .top_content {
    flex: 1;
    position: relative;

    .logo {
      position: absolute;
      top: 2rem;
      left: 2rem;
    }

    .top_content_hero {
      padding: 20rem 10rem 10rem;

      h3 {
        font-size: 4rem;
        font-weight: 700;
      }

      p {
        margin: 1rem 0;
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }

  .top_sub-content {
    background: #241381;
    flex-basis: 40%;

    img {
      max-width: 100%;
    }
  }
}
